<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monsters Web</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments :: header}"></div>

<!-- Main Content -->
<main>
    <div th:replace="~{::content}">
        <!-- Le contenu de chaque page sera inséré ici -->
    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments :: footer}"></div>

<!-- RGPD Modal -->
<div th:replace="~{fragments :: rgpd-modal}"></div>

<!-- Custom JavaScript -->
<script th:src="@{/js/game.js}"></script>
</body>
<script src="../static/js/game.js"></script>
</html>